<form [formGroup]="form" class="row">
	<div class="col-12 col-md-4">
		<mat-label>Puissance</mat-label><br>
		<mat-slider min="1" max="800" class="w-100" discrete>
			<input matSliderStartThumb formControlName="puissanceMin">
			<input matSliderEndThumb formControlName="puissanceMax">
		</mat-slider>
	</div>
	<div class="col-12 col-md-4">
		<mat-label>Année</mat-label><br>
		<mat-slider min="1899" [max]="currYear" class="w-100" discrete>
			<input matSliderStartThumb  formControlName="yearMin">
			<input matSliderEndThumb  formControlName="yearMax">
		</mat-slider>
	</div>
	<div class="col-12 col-md-4">
		<mat-label>Prix</mat-label><br>
		<mat-slider min="0" max="500000" class="w-100" discrete>
			<input matSliderStartThumb formControlName="priceMin">
			<input matSliderEndThumb formControlName="priceMax">
		</mat-slider>
	</div>
	<div class="col-12 col-md-4">
		<mat-label>Marques</mat-label><br>
		<mat-form-field appearance="fill" class="w-100">
			<mat-select multiple formControlName="marques">
				<mat-option *ngFor="let marque of marques" [value]="marque">
					{{marque}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="col-12 col-md-4">
		<mat-label>Tri</mat-label><br>
		<mat-form-field appearance="fill" class="w-100">
			<mat-select formControlName="order">
				<mat-option [value]="'priceAsc'">Prix ascendant</mat-option>
				<mat-option [value]="'priceDesc'">Prix descendant</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="col-12">
		<button class="btn btn-outline-primary w-100" (click)="filter()">
			<fa-icon icon="search"></fa-icon>
			CHERCHER
		</button>
	</div>
</form>